<% content_for :header do %>
  <h1>Donors</h1>
  <% breadcrumb :donors %>
<% end %>

<div class="header-btn pull-right">
    <div class="btn btn-primary">
     <i class='glyphicon glyphicon-plus-sign'></i> <%= link_to 'New Donor', new_donor_path %>
    </div>
</div>
<%= render 'shared/donors_table', donors: @donors %>
<br>


