<% content_for :header do %>
  <h1>Edit Emergency</h1>
<% end %>

<%= render 'form' %>
<div class="col-md-12 col-xs-12 float-left">
<%= link_to 'Show', @emergency %>  |   
<%= link_to 'Back', @emergency %>  
</div>



