@import "../libs/settings";
@import "../libs/mixins";

.navbar-inverse {
  background-color: $primary;
  border-bottom: 10px solid #eee;
  line-height: 50px;
  .navbar-nav > li > a {
    color: #fff;
    text-transform: uppercase;
    @include novecento-bold;
    line-height: 50px;
    
    &:hover {
      background: $action-respond;
    }
  }
  
  .navbar-brand {
    color: #fff;
    text-indent:-9999px;
    width: 172px;
    height: 80px;
    background: url("../images/logo.png");
  } 
}

.jumbotron {
  margin-bottom: 0;
  background: none;
}

footer {
  padding: 2em 0;
  background: #191818;
  border-top: 10px solid #EEEEEE;
  text-align: center;
  text-transform: uppercase;
}