@import "../libs/settings";
@import "../libs/mixins";

body.facebook_posts.new, body.facebook_posts.edit, body.facebook_posts.update {
  form {
    border: none;
  }
}

body.facebook_posts.show {
  .post-image-link{
    outline: none;
  }
  .post-image {
    width: 150px;
    margin: 10px;
  }

  .insight-tooltip {
    color: $tertiary;
    &:hover{
      text-decoration: none;
    }
  }

  .nav-tabs {
    margin-top: 20px;
  }

  .tab-content {
    padding: 10px;
  }

  .jumbotron {
    margin-top: 20px;
  }
}