<% content_for :header do %>
  <h1>Blood Drives</h1>
  <% breadcrumb :blood_drives %>
<% end %>

<div class="header-btn btn btn-warning pull-right">
    <% if can? :create, BloodDrive %>
       <i class='glyphicon glyphicon-new-window'></i> <%= link_to 'Create Blood Drive', new_blood_drive_path %>
    <% end %>
</div>
<div class="bl_drives">
  <h2>Today</h2>
  <%= render 'donors/drives_table', drives: @current_drives %>

  <h2>Upcoming</h2>
  <%= render 'donors/drives_table', drives: @upcoming_drives, show_edit: true %>

  <h2>Past</h2>
  <%= render 'donors/drives_table', drives: @past_drives %>
</div>

